.header {
  height: 8rem;
  background: var(--bg-sidebar);
  position: fixed;
  z-index: 1000;
  top: 0;
  left: 0;
  width: 100%;

  @include large() {
    width: 10rem;
    height: 100vh;
    border-radius: 0 0 2rem 0;
  }

  &__container {
    height: inherit;
    @include flex-between();

    @include large() {
      flex-direction: column;
    }
  }

  //   header-logo
  &__logo {
    height: 8rem;
    min-width: 8rem;
    border-radius: 0 2rem 2rem 0;
    background-color: var(--accent);
    @include flex-center();
    position: relative;
    overflow: hidden;

    @include large() {
      height: 10rem;
      width: 10rem;
    }

    &::after {
      content: "";
      position: absolute;
      z-index: 1;
      bottom: 0;
      left: 0;
      height: 50%;
      width: 100%;
      background-color: var(--accent-hover);
      border-radius: 2rem 0 2rem 0;
    }

    & > img {
      position: absolute;
      z-index: 2;
      width: 31px;

      @include large() {
        width: 38px;
      }
    }
  }

  //   header-other-action
  &__action {
    height: 8rem;
    @include flex-center();

    @include large() {
      flex-direction: column;
      padding-bottom: 10rem;
    }

    &--toggle {
      border-right: 1px solid var(--accent-hover);
      height: 8rem;
      @include flex-center();
      padding-inline: 3rem;

      @include large() {
        width: 10rem;
        height: 0;
        padding-inline: 0;
        padding-block: 4rem;
        border-right: none;
        border-bottom: 1px solid var(--accent-hover);
      }

      & > button {
        @include flex-center();
        font-size: 2.5rem;
        color: var(--accent);
      }
    }

    &--profile {
      height: 8rem;
      @include flex-center();
      padding-inline: 4rem;

      @include large() {
        width: 10rem;
        padding-inline: 0;
        padding-block: 3rem;
      }

      & > ion-icon {
        cursor: pointer;
        width: 2.5rem;
        height: 2.5rem;
      }
    }
  }
}
